body{
    background-color: lightblue;
    text-align: center;
}
h1{
    color: black;
    border: dotted;
    background-color:lightsalmon;
    

    
}
h2{
    color:indianred;
    text-decoration:underline;
    
}

button{
    color:mintcream;
    background-color:coral;
    border-color:coral;
}